<% provide(:title, @user.name) %>



<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.name %></li>
  <% end %>
</ul>



<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>

    <section>
      <ul>
        <li class="side_links"><%= link_to "To Read", "/toreads" %> (<%= link_to "Add", "/toreads/new" %>)</li>
        <!--<li class="side_links">Books I've Read</li>-->
        <li class="side_links"><%= link_to "Books I've Read", "/reads" %> (<%= link_to "Add", "/reads/new" %>)</li>
        <li class="side_links"><%= link_to "Write Review", "/reviews/new" %></li>
        <li class="side_links">Friends</li>
      </ul>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.reviews.any? %>
      <h3>Reviews (<%= @user.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>