<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>

    <section>
      <ul>
        <li class="side_links">To Read</li>
        <!--<li class="side_links">Books I've Read</li>-->
        <li class="side_links">Books I've Read (<%= link_to "Add", "/reads/new" %>)</li>
        <li class="side_links"><%= link_to "My Reviews", current_user %></li>
        <li class="side_links">Friends</li>
      </ul>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.reviews.any? %>
      <h3>Reviews (<%= @user.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>